<!DOCTYPE html>
<html>



    <head>
        {% load static %}        
        <title>Tripous</title>
        <meta charset="utf-8">
        <link rel="icon" type="image/jpg" href="{% static 'tripous/img/favi.jpg' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- STYLES -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'tripous/css/index.css' %}">


        
        <!-- SCRIPTS  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
<body>
  <div class="jumbotron text-center">
    <h1>Tripous</h1>
    <p>Type in the ticker symbol of your interest and predict future performance.</p>
    <form class="form-inline">
      <div>
        <input type="text"  name="search" placeholder="Type in ticker symbol...">
      </div>
    </form>
  </div> 



  <div class="alert {{alert_class}}">
    {{alert_text}}
  </div>
      
    
    
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 module">
        <h2>{{ stock_name }}</h2>

        {% if rmse %}
          <p>The root mean squared error of this prediction is {{rmse}}.</p>
          <a class="btn btn-primary" onClick="window.location.reload()">Try to improve</a>
        {% endif %}

      </div>
      <div class="col-md-8 module">
        {% autoescape off %}
          {{ graph_html }}
        {% endautoescape %}        
      </div>
    </div>
  </div>
  


  <!-- Manipulating Website in real time -->
  <script>
    $(document).ready(function(){

      $("#predictBtn").one("click",function(){
        // get image attr
        imgAttr = $("#graphWrapper").attr("style");
        // manipulate it
        imgAttrBase = imgAttr.slice(0, -6);
        imgAttr = imgAttrBase + "_variant.png')";
        // update it
        $("#graphWrapper").attr("style",imgAttr);
        
        // finally, mark button as inactive
        $(this).attr("disabled", "true")
      });
    });


  </script>


  </body>
</html>

